<!--      ======= Blog Section ======= -->
    
    <section id="blog" class="blog">
     
      <div class="container" data-aos="fade-up">
        
        <div class="row gy-3 posts-list">
          <h3>Blogs & Articles</h3>
          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/1.1.jpg" alt="" class="img-fluid">
              </div>

             
              <h2 class="title">
                <a href="blog-details.html">Tips to Prevent Vision Loss  </a>
              </h2>

            </article>
          </div>

          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/1.2.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="blog-details.html">28 Health and Nutrition Tips That Are Actually Evidence-based</a>
              </h2>
            </article>
          </div><!-- End post list item -->


          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/1.3.jpg" alt="" class="img-fluid">
              </div>

             
              <h2 class="title">
                <a href="blog-details.html">Healthy lifestyle: 5 keys to  a longer life - Hardvard Health  </a>
              </h2>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-3 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/1.4.jpg" alt="" class="img-fluid">
              </div>

             

              <h2 class="title">
                <a href="blog-details.html">Eat more fish, including a portion of oily fish</a>
              </h2>

            </article>
          </div><!-- End post list item -->
          

        </div><!-- End blog posts list -->
        <br><br><br>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/1.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Medicines to Keep at Home | First Aid</h3>

                <p>
                 Your pharmacist is the best source of advice and information on medicines which can be bought over the counter. See your doctor if you are needing...
                </p>
              </div>
            </div>
    
          </div>
        </section>
        <br><br><br>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/2.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Healthy lifestyle: 5 keys to a longer life - Harvard Health</h3>

                <p>
                Healthy movement may include walking, sports, dancing, yoga or running. Eat a well-balanced, low-fat diet with lots of fruits, vegetables, and ...
                </p>
              </div>
            </div>
    
          </div>
        </section>
        <br><br><br>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/3.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>                  
                  Top 10 Foods for Health
                  </h3>
                <p>
                Fruit and vegetables are low in calories and nutrient dense, which means they are packed with vitamins, minerals, antioxidants, and fiber...
                </p>
              </div>
            </div>
    
          </div>
        </section>
        <br><br><br>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/4.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Tips to Prevent Vision Loss</h3>

                <p>
                1. Regular Check-up for your Eyes ; <br>2. A Healthy Diet to the Rescue ;<br> 3. Diabetes and Eye Health ; <br>4. Give up Smoking ; <br>5. Wear Sunglasses. Kale. ...
                </p>
              </div>
            </div>
    
          </div>
        </section>
        <br><br><br>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-3 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/5.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-9 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3>28 Health and Nutrition Tips </h3>

                <p>
                  Health and Nutrition Tips That Are Actually Evidence-Based · <br>1. Limit sugary drinks · <br>2. Eat nuts and seeds · <br>3. Avoid ultra-processed foods · .....
                </p>
              </div>
            </div>
    
          </div>
        </section><!-- End About Section -->

        <div class="center">
          <div class="pagination">
            <br><br><br><br>
          <a href="#">Previous</a>
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">...</a>
          <a href="#">Next</a>
          </div>
        </div>
        <br><br>
      </div>
    </section><!-- End Blog Section -->



