mat-grid-tile {
  background: lightblue;
}
.example-card {
  padding-top: 5vw;
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
