/*backgroundmat-grid-tile {*/
/*  background: lightblue;*/
/*}*/
/*.example-card {*/
/*  max-width: 400px;*/
/*}*/

/*.example-header-image {*/
/*  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
/*  background-size: cover;*/
/*}*/


.container{

    margin-top: 50px;
    margin-bottom: 100px; }


div {

    margin-top: 10px;
    margin-bottom: 10px;

  }
.btn{
    background-color: #060713;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;




}
.rec177{
    background-color: #BFC2DA;
    width: 592px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    padding-left: 150px;
}

.form-control{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .rec177{
        width: 80vw;

    }


}




div {

    margin-top: 10px;
    margin-bottom: 10px;

  }
.btn{
    background-color: #060713;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;




}
.rec177{
    background-color: #BFC2DA;
    width: 592px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    padding-left: 150px;
}

.form-control{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .rec177{
        width: 80vw;

    }


}


.header{
    margin-top: 100px;
    padding-top: 100px;

}

h1{
    border-bottom:3px solid #000000;
}

.matric {
    width: 100%; /* Ensures the container takes full width of the viewport */
    margin-left:-260px;
    text-decoration-color: #070815;
}
.text {
    font-size: 16px; /* Set your desired font size */
    text-align: center; /* Center the text horizontally */
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

@media screen and (min-width: 1200px) {
    .text {
        font-size: 18px; /* Adjust font size for larger screens */
    }
}






