<!--<mat-grid-list cols="2" rowHeight="2:1">-->
<!--  <mat-grid-tile>10</mat-grid-tile>-->
<!--  <mat-grid-tile>2</mat-grid-tile>-->
<!--  <mat-grid-tile>3</mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>Shiba Inu</mat-card-title>-->
<!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--          bred for hunting.-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->

<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->




<div class="container">
    <div class="header">
      <h1><b>Fitness Calculators</b></h1>
    </div>
    <br>
    <div class="cal">
    <div >
      <div class="matric">

        <h4 class="text"><b>Metric</b></h4>
      </div>
        <div class="rec177">
        <div class="row mb-3">
          <div class="col-5">
            <label for="gender" class="col-sm-4 col-form-label">Gender</label>
          </div>

          <div class="col-3">
          <input type="radio" id="male" name="gender"  value="male">
          <label for="male">Male</label>
         </div>
        <div class="col-3">
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
       </div>
        </div>

        <div class="row mb-3">
          <div class="col-5"> <label for="inputAge" class="col-sm-4 col-form-label">Age</label></div>

          <div class="col-3">
            <input type="age" class="form-control" id="inputAge">
          </div>
        </div>

        <div class="row mb-3">

          <div class="col-5"><label for="inputWeight" class="col-sm-4 col-form-label">Weight</label></div>

          <div class="col-3">
            <input type="weight" class="form-control" id="inputWeight" placeholder="kg">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5"><label for="inputHeight" class="col-sm-4 col-form-label">Height</label></div>
          <div class="col-3">
            <input type="height" class="form-control" id="inputHeight" placeholder="cm" >
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5"><label for="inputActivity" class="col-sm-4 col-form-label">Activity</label></div>
          <div class="col-6">
            <input type="activity" class="form-control" id="inputActivity" placeholder="Sedentary(Office Job)">
          </div>
        </div>
          <div class="row mb-3">
            <div class="col-5">
              <label for="inputBodyFat" class="col-sm-6 col-form-label">Body Fat</label>
            </div>
            <div class="col-3">
              <input type="BodyFat" id="inputBodyFat" class="col-sm-6 form-control" aria-describedby="bodyfat">
            </div>
            <div class="col-auto col-md-2">
              <span id="bodyfat" class="form-text">
                %
              </span>
            </div>
          </div>


        </div>
        <br><br>

    <div class="mx-auto d-block text-center">
      <button class="btn " type="button"  routerLink="/status_page">Calculate</button>
    </div>


    </div>
    </div>
</div>
