/*backgroundmat-grid-tile {*/
/*  background: lightblue;*/
/*}*/
/*.example-card {*/
/*  max-width: 400px;*/
/*}*/

/*.example-header-image {*/
/*  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
/*  background-size: cover;*/
/*}*/
div {
  
    margin-top: 10px;
    margin-bottom: 10px;
 
  }
.btn{
    background-color: #060713;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
   
    
}
.rec177{
    background-color: #BFC2DA;
    width: 592px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    padding-left: 150px;
}

.form-control{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .rec177{
        width: 80vw;
    
    }


}
 
