.group:hover .group-hover\:block {
	display: block;
}




  .card.w-100 {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of elements, so .avatar is on the right */
}

.avatar {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px; /* Add padding for spacing */
}

