.bg-light-blue {
  background-color: #cce6ff/* Light blue color */
}

.navbar{
  position: relative;
}
.container {

  margin-top: -20px;
  margin-bottom: -10px;
  

}

.highlighted {
  font-weight: bold;
}

.container .header{
  padding-top: 50px;
}

.chart{
  padding-left: 90px;
  margin-top: 40px;
}


.chart ::placeholder{
  font-size: smaller;
  align-items: center;
  text-align: center;
}

.chart .col-sm-2{
  padding-left: 60px;
}

.detailtable .table {
 
  padding-top: 20px;
  border-color: white;

}

.secotable{
  margin-top: 20px;
}
.secotable .table{
  border: none;
  border-color: white;
}

.form-check-label{
  font-size: 15px;
}

.col-xl-8{ 
  font-size: 14px;
}



@media screen and (max-width: 768px) {
 
  .container-bmi{
    padding-top: 10px;
    padding-left: -50px;

  }

}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

h1{
  border-bottom:3px solid #000000;
}



@media screen and (max-width: 600px) {
  .text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  .container-bmi{
    padding-top:10px;
  }
}


@media screen and (min-width: 1200px) {
  .text {
    font-size: 18px; /* Adjust font size for larger screens */
  }

  .container-bmi{
    padding-top: 10px;
    padding-left: -1000px;

  }
  
}


.custom-card {
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 30px ;
  margin-top: 25px;
  border-radius: 20px;
}

.card-body .valuee p{
  font-size: 40px;
  font-weight: 500;
}
.card-body p{
  font-size: 15px;
 
}

.card-title{
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

.column-space {
  padding-right: 7vw; /* 7vw / 2 = 3.5vw (half of the desired space) */
  padding-bottom: 6vw;

}

.selected-category {
  font-weight: bold; /* Example: Make the text bold for the selected category */
 
}

.container-bmi{
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.container-bmi .form-group p{
  font-size: 25px;
  font-family: sans-serif;
}

.para
{
  font-size: 17px;
}



footer{
  background: #3f51b5;

}
.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  font-size: 24px;
  color: white;
  margin-left: 10px;
  margin-right: 2vw;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: lightgray;
}

.namelist{
  font-weight: bold;
}