.bg-light-blue {
  background-color: #cce6ff/* Light blue color */
}

.navbar{
  position: relative;
}
.container {

  margin-top: -20px;
  margin-bottom: -10px;
  

}



.container .header{
  padding-top: 50px;
}

.chart{
  padding-left: 90px;
  margin-top: 40px;
}


.chart ::placeholder{
  font-size: smaller;
  align-items: center;
  text-align: center;
}

.chart .col-sm-2{
  padding-left: 60px;
}

.detailtable .table {
  border: none;
  border-color: white;
}

.secotable .table{
  border: none;
  border-color: white;
}

@media screen and (max-width: 768px) {
  .rec177{
    width: 80vw;

  }

}



h1{
  border-bottom:3px solid #000000;
}



@media screen and (max-width: 600px) {
  .text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media screen and (min-width: 1200px) {
  .text {
    font-size: 18px; /* Adjust font size for larger screens */
  }
}


.custom-card {
  background-color: darkblue;
  color: white;
}

.column-space {
  padding-right: 7vw; /* 7vw / 2 = 3.5vw (half of the desired space) */

}





footer{
  background: #3f51b5;

}
.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  font-size: 24px;
  color: white;
  margin-left: 10px;
  margin-right: 2vw;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: lightgray;
}