
<div class="container">
  <nav>
    <input id="nav-toggle" type="checkbox">
    <div class="logo">
      <img src="assets/logo1-01.png" width="220" height="120">
    </div>
    <ul class="links">
      <button mat-button color="primary" routerLink="/home_page">Home

      </button>

      <button mat-button color="primary" routerLink="/blogs_page">Blogs & Article</button>
      <button mat-button color="primary" routerLink="/matrix_page">Health Matrix</button>
      <section>

        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/login">
                  <mat-icon>sync</mat-icon>
                  Log In
                </button>
                <button mat-menu-item routerLink="/register_page" >
                  <mat-icon>sync_disabled</mat-icon>
                  Log Out
                </button>
                <button mat-menu-item routerLink="/settings-page">
                  <mat-icon >settings</mat-icon>
                  Settings
                </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>account_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </section>
    </ul>


    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>

  </nav>












  <!-- End of .container -->

</div>
<router-outlet>

</router-outlet>

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #3f51b5" >

  <!-- Grid container -->
  <div>
    <p>
      "Medi Care" is a comprehensive medical record web system designed to streamline and enhance healthcare facilities' patient management processes.

    </p>
  </div>
  <div >


    <section >

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-rss"></a>
      <a href="#" class="fa fa-google"></a>

    </section>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0)"
  >
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/"
    >MDBootstrap.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

