<nav>
  <input id="nav-toggle" type="checkbox">
  <div class="logo">
    <img src="assets/logo1-01.png" width="220" height="120">
  </div>
  <ul class="links">
    <button mat-button color="primary">Home</button>
    <button mat-button color="primary">About Us</button>
    <button mat-button color="primary">Article</button>
    <button mat-button color="primary">Health Matrix</button>
    <section>

      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>person</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </ul>


  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>

</nav>
<div class="row">
  <div class="col">
    <div class="content">
      <h1>Protect Your Life</h1>
      <h1>And Take Care Of</h1>
      <h1>Your Health</h1>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <img src="assets/calendar.png" width="40px" height="40px">
      <h5>
        Save Your Medical Records
      </h5>
      <p>
        Choose your doctor from thousands of specialist, general, and trusted hospitals
      </p>
    </div>
    <div class="card">
      <img src="assets/stethoscope.png" width="40px" height="40px">
      <h5>
        Track Your Medical Records
      </h5>
      <p>
        Buy  your medicines with our mobile application with a simple delivery system
      </p>
    </div>
    <div class="card">
      <mat-icon>
        calender
      </mat-icon>
      <h3>Hello</h3>
      <h5>
        Calculate Your Health
        Care Matrix
      </h5>
      <p>
        Free consultation with our trusted doctors and get the best recomendations
      </p>
    </div>
    <div class="card">
      <mat-icon>
          calender
      </mat-icon>
      <h3>Hello</h3>
      <h5>
        Improve Your Health
        Care Knowledge
      </h5>
      <p>
        You can get 24/7 urgent care for yourself or your children and your
        lovely family
      </p>
    </div>
</div>
</div>
<div class="container">
</div>









<router-outlet></router-outlet>
