body {
  padding: 0;
  margin: 0;

}
.container {
  position: relative;
  margin-top: 100px;
  color: #cce6ff;
  background-color: #cce6ff;
}
.container img {
  display: block;
  width: 100%;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: #cce6ff;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

}

.content{
  width: border-box;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: left;
  color:darkblue;
  padding-left: 50px;

}

.first1{
  font-size: 70px;
  padding-bottom: 10px;
}
.second1{
  font-size: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.third1{
  font-size: 50px;
}
.card {
  width: 280px;
  height: 220px;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 20px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 5px 15px;
  color: darkblue ;
  background-color: #cce6ff;

}

.row{
  display: flex;
  height: 100%;
  align-items: center;
}
.col{
  flex-basis: 50%;
}

.img1{
  padding-top: 200px;
  padding-left: 100px;
}
.img2{
  padding-left: 950px;
}

.img3{
  padding-left: 40px;
  padding-top: 400px;
}
