.row flex-nowrap{
    width: 10%;
}
.custom-btn{
    background-color: #D2E9E9;
    color: #0D1028;
}
.custom-btn:hover {
    background-color: #222A6A; /* Change to the desired hover color */
    color: #ffffff; /* Change to the desired text color */
}

.demo-section{
    width: 10%;
}

#add{
    margin-top: 20px;
    background-color: #0D1028;
    color: #D2E9E9;
}
