
<!--Body-->
<div class="row">
  <div class="col-12" col-sm-6 >
    <div class="content">
      <h1 style="font-size: 7vw" >Protect Your Life</h1>
      <h1 style="font-size: 5vw">And Take Care Of</h1>
      <h1 style="font-size: 3vw">Your Health</h1>
    </div>
    <div class="col-12" col-sm-6   >
      <img class="img-fluid" src="assets/back2.jpg" width="800px" height="700px" >

    </div>
  </div>
</div>

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Medi Care</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">

      "Medi Care" is a comprehensive medical record web system designed to streamline and enhance healthcare facilities' patient management processes. It is a secure and user-friendly platform that allows healthcare professionals to efficiently store, access, and manage patient information in a digital format. The primary goal of "Medi Care" is to improve the quality of patient care, ensure accurate and up-to-date medical records, and facilitate seamless communication among healthcare providers.<code>.col-*</code> class, and a customized call to action.
    </p>
    <div class="d-inline-flex gap-2 mb-5" >
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" style="background-color: darkblue;">
        Log In
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Register
      </button>
    </div>
  </div>
</div>


<div class="row">
  <div class="card">
    <img src="assets/calendar.png" width="40px" height="40px">
    <h3>
      Save Your Medical Records
    </h3>
    <p>
      Choose your doctor from thousands of specialist, general, and trusted hospitals
    </p>
  </div>
  <div class="card">
    <img src="assets/stethoscope.png" width="40px" height="40px">
    <h3>
      Track Your Medical Records
    </h3>
    <p>
      Buy  your medicines with our mobile application with a simple delivery system
    </p>
  </div>
  <div class="card">
    <img src="assets/doctor.png" width="40px" height="40px" >
    <h3>
      Calculate Your Health
      Care Matrix
    </h3>
    <p>
      Free consultation with our trusted doctors and get the best recomendations
    </p>
  </div>
  <div class="card">
    <img src="assets/healthcare.png" width="40px" height="40px">
    <h3>
      Improve Your Health
      Care Knowledge
    </h3>
    <p>
      You can get 24/7 urgent care for yourself or your children and your
      lovely family
    </p>
  </div>
</div>



<div class="row">
  <div class="col-6"><img class="img-fluid" src="assets/back1.jpg" width="150%" height="100%" ></div>
</div>



