
<!--Body-->
<div class="row">
  <div class="col-12" col-sm-6 >
    <div class="content">
      <h1 style="font-size: 7vw" >Protect Your Life</h1>
      <h1 style="font-size: 5vw">And Take Care Of</h1>
      <h1 style="font-size: 3vw">Your Health</h1>
    </div>
    <div class="col-12" col-sm-6   >
      <img class="img-fluid" src="assets/back2.jpg" width="800px" height="700px" >
    </div>
  </div>
</div>


<div class="row">
  <div class="card">
    <img src="assets/calendar.png" width="40px" height="40px">
    <h3>
      Save Your Medical Records
    </h3>
    <p>
      Choose your doctor from thousands of specialist, general, and trusted hospitals
    </p>
  </div>
  <div class="card">
    <img src="assets/stethoscope.png" width="40px" height="40px">
    <h3>
      Track Your Medical Records
    </h3>
    <p>
      Buy  your medicines with our mobile application with a simple delivery system
    </p>
  </div>
  <div class="card">
    <img src="assets/doctor.png" width="40px" height="40px" >
    <h3>
      Calculate Your Health
      Care Matrix
    </h3>
    <p>
      Free consultation with our trusted doctors and get the best recomendations
    </p>
  </div>
  <div class="card">
    <img src="assets/healthcare.png" width="40px" height="40px">
    <h3>
      Improve Your Health
      Care Knowledge
    </h3>
    <p>
      You can get 24/7 urgent care for yourself or your children and your
      lovely family
    </p>
  </div>
</div>



<div class="row">
  <div class="col-6"><img class="img-fluid" src="assets/back1.jpg" width="150%" height="100%" ></div>
</div>

